body{
    background-image: url(aboutbgimg.jpg);
}
.info{
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-family: cursive;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    background-color: rgb(255, 60, 93);
  }
ul{
    list-style-type: none;
}
/* li{
    text-align: center;
} */